<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include includes/head_includes.ejs %>
</head>
<body>
<h1><%= title %></h1>

<div class="ui primary button" id="power">
    Power
</div>
<div id="feedback">
    Waiting!
</div>

<script>
    $("#power").click(function () {
        $.ajax({
            url: '/bose/power', success: function (result) {

            }
        });
    });
</script>
</body>
</html>
